{% extends 'dashboard.html' %}
{% block title %}<title>Addnotes</title>{% endblock %}
{% block addcss %}<link rel="stylesheet"
      href="{{url_for('static',filename='addnotes.css')}}">
{% endblock %}


{% block content %}



<div class="note-container">

    <h2>Add New Note</h2>

    <form action="/addnotes" method="POST">

        <div class="form-group">
            <label for="title">Title</label>

            <input
                type="text"
                id="title"
                name="title"
                placeholder="Enter Note Title"
                required>
        </div>

        <div class="form-group">

            <label for="description">Description</label>

            <textarea
                id="description"
                name="description"
                rows="8"
                placeholder="Write your note here..."
                required>
            </textarea>

        </div>

        <button type="submit">
            Save Note
        </button>

    </form>

</div>

{% endblock %}