<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <center>
        <h2>Registration Form</h2>
        <form action="" method="POST">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Enter your name" required><br><br>
            </div>
            <div>
                <label for="useremail">Email:</label>
                <input type="email" id="useremail" name="useremail" placeholder="Enter your email" required><br><br>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Password" required><br><br>
            </div>
            <div>
                <label for="pinno">PIN Number:</label>
                <input type="password" id="pinno" name="pinno" pattern="[0-9]*" inputmode="numeric" placeholder="Enter pin number" required><br><br>
            </div>
            <button >Register</button>
        </form>
    </center>
</body>
</html>

  