<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statements</title>
</head>
<body>
    <h2>Transactions statements</h2>
    <table border="1">
            <thead>
                <tr>
                    <th>Deposit Amount</th>
                    <th>Deposit Time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>500.00</td>
                    <td>2026-06-01 10:30 AM</td>
                </tr>
                <tr>
                    <td>1,200.00</td>
                    <td>2026-06-02 03:15 PM</td>
                </tr>
            </tbody>
    </table>
</body>
</html>
